.login {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 78vh;
  background-image: url("../images/earth.jpg");
}

.account-login {
  width: 500px;
  border: 1px solid black;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.other-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.other-login :hover {
  box-shadow:  0 0 0 3px #606060;
  border-radius:50%;
}
